# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db